/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Set container height to the full viewport height */
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center; /* Center align image and title */
}

.image {
  max-width: 100px; /* Adjust the image width as needed */
  margin-right: 20px; /* Add spacing between the image and title */
}
