.btn-container {
  display: inline-block;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
}

.btn-container + .btn-container {
  margin-left: 10px;
}

.btn-container a {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

.btn-container a:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Update background color with transparency */
  color: #10529F;
}
